/* CSS file for Pioneer Page */

#pioneerContainer {
  padding: 0.9rem;
  margin-top: 34.6em;
  background: #d6d6d7;
  height: 140vh;
  z-index: 1;
}

.pioneerContent {
  width: 62em;
  margin-top: 3em auto;
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.pioneerContent p {
  margin: 0;
  font-size: 22px;
  line-height: 1.5em;
  text-align: justify;
}

.pioneer-image {
  margin: 1.5em 0 1.5em 0;
  width: 944px;
  height: 560px;
}

/* screen size for smart phones */
@media (max-width: 499px) {
  
}

/* screen size for tablets */
@media only screen and (min-width: 500px) and (max-width: 768px) {

}
