@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed");

html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: rgb(78, 119, 231);
}

li a {
  text-decoration: none;
}

li a:visited {
  color: rgb(78, 119, 231);
}

.active {
  background-color: #194c99;
}

li a:hover {
  color: #f3ef0c;
}

ul {
  list-style: none;
}

ul.navbar-nav.flex-column {
  margin-top: 4.2em;
  padding: -14rem;
}

main {
  margin: 0;
  flex: 1 0 auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    152deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 49, 60, 1) 57%,
    rgba(35, 49, 60, 0.3603816526610645) 97%
  );
  background-size: auto;
  width: 100%;
  min-height: 100vh;
}

main > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#header {
  position: relative;
  padding: 0.9rem;
  background: #232529;
  height: 6em;
  -moz-box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
  -webkit-box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
  box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
}

#socialicons {
  display: inline-flex;
  position: absolute;
  right: 10%;
  margin-top: 0.2em;
}

img.social {
  height: 81px;
  width: 81px;
}

img.social:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.mainContent {
  padding: 1em 0 2em 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.globe {
  position: absolute;
  display: flex;
  margin-left: 4%;
  margin-top: 2em;
  z-index: 1;
}

.globe img {
  height: 25em;
  padding: 0 10%;
}

img.coachdan {
  position: absolute;
  top: 10em;
  left: 34%;
  height: 45em;
  z-index: 2;
}

.side-menu {
  line-height: 1.5em;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 2.5em;
  z-index: 20;
}

.lowerbuttons {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  z-index: 5;
}

img.wckick_button:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  transition-duration: 0.3s;
  transition-property: transform;
}

img.aimmaa_button:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-property: transform;
}

img.gammaf_button:hover {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  transition-duration: 0.3s;
  transition-property: transform;
}

/* Bootstrap media queries */
/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575px) {
  body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    min-height: 120vh;
  }

  main {
    min-height: 120vh;
  }

  #header {
    padding: 0.3rem;
    height: 3.5em;
    -moz-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    -webkit-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
  }

  #socialicons {
    right: 1em;
    margin-top: 0.2em;
  }

  img.social {
    height: 51px;
    width: 51px;
  }

  .mainContent {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
  }

  button {
    z-index: 99;
  }

  .side-menu {
    line-height: 1em;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: -4em;
  }

  /* Side Menu Links */
  .side-menu a {
    display: block;
    color: #fff;
    background-color: rgba(35, 49, 60, 1);
    opacity: 90%;
    padding: 1.5rem;
    font-size: 26px;
    border-radius: 6px;
  }

  .globe {
    margin-left: 3%;
    margin-top: 3%;
  }

  .globe img {
    height: 10em;
  }

  img.coachdan {
    top: 8em;
    left: 15%;
    height: 30em;
  }

  .lowerbuttons {
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    top: 27em;
  }

  img.wckick_button {
    content: url("../images/buttons/wckickboxing_mobile_button.png");
    width: 100px;
  }

  img.aimmaa_button {
    content: url("../images/buttons/tigersgym-and-fightclub-mobile-button.png");
    width: 100px;
  }

  img.gammaf_button {
    content: url("../images/buttons/gammaf_mobile_button.png");
    width: 100px;
  }
}

@media (min-width: 1200px) {
  ul.navbar-nav.flex-column {
    margin: 3.5rem 5rem;
  }

  .row {
    margin-right: 0;
    margin-left: 5em;
  }
}
