/* CSS file for Grey Body of the Page */

.pioneerContent {
  width: 62em;
  margin-top: 3em auto;
  margin-left: auto;
  margin-right: auto;
}

.pioneerContent p {
  margin: 0;
  font-size: 22px;
  line-height: 1.5em;
  text-align: justify;
}

.pioneer-image {
  margin: 1.5em 0 1.5em 0;
  width: 100%;
  background-size: contain;
}

/* screen size for smart phones */
@media (max-width: 499px) {
  
}

/* screen size for tablets */
@media only screen and (min-width: 500px) and (max-width: 768px) {

}
