/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed");

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: auto;
  flex-direction: column;
  margin: 0;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #f9fd07;
}

li a:visited {
  color: rgb(78, 119, 231);
}

.active {
  background-color: #194c99;
}

main {
  position: relative;
  margin: 0;
  padding-bottom: 2.5em;
  flex: 1 0 auto;
  background: rgb(255, 255, 255);
  background-size: auto;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#header {
  position: relative;
  padding: 0.9rem;
  background: #232529;
  height: 5em;
  -moz-box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
  -webkit-box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
  box-shadow: 2px 7px 2px rgba(94, 112, 145, 1);
  z-index: 10;
}

#socialicons {
  display: inline-flex;
  position: absolute;
  right: 10%;
  margin-top: 0.2em;
}

img.social {
  height: 81px;
  width: 81px;
}

img.social:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

#blueheader {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  background: #163a70;
  height: 4.4em;
}

.smallglobe {
  position: absolute;
  display: inline-block;
  margin-left: 10%;
  margin-top: 0.4em;
  z-index: 21;
}

.smallglobe img {
  height: 120px;
}

.smallglobe a {
  display: inline-block !important;
}

#ham-button {
  display: none;
}

#side-menu {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.side-menu {
  line-height: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 20;
}

.side-menu ul {
  padding: 0;
  margin: 0;
  margin-right: 10%;
  margin-top: 0.5em;
  text-align: right;
  list-style: none;
  overflow: hidden;
}

.side-menu li {
  display: inline-block;
  color: #fff bold;
}

.side-menu li a {
  display: inline-block;
  padding: 25px 14px;
  text-align: center;
  text-decoration: none;
  float: right;
}

.side-menu li a:hover:not(.active) {
  background-color: #194c99;
}

#whiteContent {
  padding: 0.9rem;
  margin-top: 0em;
  height: 1em;
}

.tvcontainer {
  position: relative;
  width: 52.5em;
  height: 30em;
  top: 4.1em;
  left: 20%;
  /* width: 52.5em; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.tv {
  position: absolute;
  z-index: 2;
}

iframe {
  position: absolute;
  margin-top: 2.7em;
  margin-left: 9.5em;
  z-index: 5;
}

#greyContent {
  padding: 0.9rem;
  margin-top: 34.6em;
  background: #d6d6d7;
  height: 44em;
  z-index: 1;
}

#familyContent {
  width: 100%;
  height: 125vh;
}

.familyContent {
  margin-top: 5.9em;
}
.familyContent p {
  width: 35.5em;
  margin-top: 1em;
  font-size: 22px;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.family-image {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.dan-image {
  margin-top: 2em;
  margin-left: 23%;
  margin-bottom: 2em;
  box-shadow: 10px 10px 15px grey;
  border-radius: 50%;
}

.greyPara p {
  margin-top: 1em;
  font-size: 22px;
  line-height: 1.5em;
  margin-left: 30%;
  margin-right: 16%;
  text-align: justify;
}

.footer-links {
  position: absolute;
  height: 1.3em;
  width: 100%;
  line-height: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem 2rem;
  bottom: 0;
  margin-top: 0;
  z-index: 6;
}

.footer-links ul {
  display: inline;
  padding: 0;
  margin: 0;
  margin-left: 0.7em;
  list-style: none;
  text-align: left;
}

.footer-links li {
  color: #fff bold;
  display: inline;
  padding-right: 1em;
  font-size: 0.9em;
}

.footer-para {
  display: inline-block;
  font-size: 0.9em;
  margin: 0;
  margin-left: 15%;
  text-align: left;
}

.copyright {
  margin: 0;
  margin-right: 10%;
  padding: 0;
  text-align: right;
  font-size: 1em;
}

footer {
  position: absolute;
  flex-shrink: 0;
  background-color: #000;
  padding: 2rem 1rem;
  color: #fff;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem; */
  z-index: 3;
}

/* screen size for ipads */
/* @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) {

} */

/* screen size for smart phones */
@media (max-width: 499px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  main {
    max-height: 2500vh;
  }

  #header {
    padding: 0.3rem;
    height: 3.5em;
    -moz-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    -webkit-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
  }

  #socialicons {
    right: 1em;
    margin-top: 0.2em;
  }

  img.social {
    height: 51px;
    width: 51px;
  }

  #blueheader {
    width: 100%;
    height: 2.5em;
  }

  .smallglobe {
    margin-left: 2%;
    margin-top: 0.4em;
  }

  .smallglobe img {
    height: 120px;
  }

  #side-menu {
    display: none;
    width: 100vw;
  }

  #button-href {
    margin-left: 75%;
    padding: 1.2px;
  }

  #ham-button {
    display: block;
    margin-left: 75%;
    margin-top: 0.2em;
    margin-right: 5%;
    height: 0;
    width: 0;
    z-index: 20;
  }

  button#ham-button:focus {
    outline: none;
  }

  button {
    border: none;
    background: none;
  }

  img.ham-button {
    height: 3em;
    z-index: 20;
  }

  div#side-menu.side-menu {
    margin-left: -21em;
    float: none;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 3em;
  }

  .side-menu ul {
    margin-top: 1.5em;
    text-align: unset;
    overflow: unset;
  }

  .side-menu li a {
    display: block;
    text-align: unset;
    text-decoration: none;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 83vw;
    color: #fff;
    background-color: rgba(35, 49, 60, 1);
    opacity: 95%;
    padding: 1.2rem 1.2rem;
    font-size: 26px;
    border-radius: 6px;
  }

  #whiteContent {
    max-width: 100vw;
    margin: 0;
  }

  .tvcontainer {
    margin: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    max-height: 28vh;
  }

  img.tv {
    max-width: 80vw;
  }

  iframe {
    margin-top: 1.2rem;
    margin-left: 2.5rem;
    margin-right: auto;
    max-width: 60vw;
    max-height: 15vh;
  }

  #greyContent {
    margin-top: 15rem;
    max-width: 100vw;
    max-height: 115vh;
  }

  .dan-image {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .greyPara p {
    font-size: 16px;
    line-height: 1.4em;
    margin-left: 2%;
    margin-right: 2%;
  }

  .footer-links {
    margin: 0;
    padding: 0 0.1rem 4rem;
    max-width: 100vw;
    font-size: 0.7rem;
    font-weight: normal;
  }

  .footer-links ul {
    display: flex;
    margin-top: 1em;
  }

  .footer-links a {
    text-decoration: none;
    color: rgb(78, 119, 231);
  }

  .footer-para {
    font-size: 1em;
    margin-top: 0.6em;
    margin-left: 2%;
  }

  .copyright {
    font-size: 0.8em;
    margin-top: 0.8em;
    margin-right: 6%;
  }

  footer {
    padding: 0.6em;
    height: 4.5em;
  }
}

/* screen size for tablets */
@media only screen and (min-width: 500px) and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  main {
    max-height: 480vh;
  }

  #header {
    padding: 0.3rem;
    height: 3.5em;
    -moz-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    -webkit-box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
    box-shadow: 1px 3px 1px rgba(94, 112, 145, 1);
  }

  #socialicons {
    right: 1em;
    margin-top: 0.2em;
  }

  img.social {
    height: 51px;
    width: 51px;
  }

  #blueheader {
    max-width: 100vw;
    height: 2.5em;
  }

  .smallglobe {
    margin-left: 2%;
    margin-top: 0.4em;
  }

  .smallglobe img {
    height: 120px;
  }

  #side-menu {
    display: none;
    width: 100%;
  }

  #ham-button {
    display: block;
    margin: 0;
    z-index: 20;
    height: 3em;
    width: 4em;
    margin-left: 48em;
  }

  button#ham-button:focus {
    outline: none;
  }

  button {
    border: none;
    background: none;
  }

  img.ham-button {
    height: 3em;
    z-index: inherit;
  }

  #whiteContent {
    max-width: 100vw;
    margin: 0;
  }

  .tvcontainer {
    margin: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 78vw;
    max-height: 37vh;
  }

  img.tv {
    max-width: 78vw;
  }

  iframe {
    margin-top: 2.6rem;
    margin-left: 3.8rem;
    margin-right: auto;
    max-width: 62vw;
    max-height: 19vh;
  }

  #greyContent {
    margin-top: 25rem;
    max-width: 100vw;
    height: 75vh;
  }

  .dan-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .greyPara p {
    margin-left: 10%;
    margin-right: 10%;
  }

  .footer-links {
    max-width: 100vw;
    font-size: 1rem;
    font-weight: normal;
  }

  .footer-links a {
    text-decoration: none;
    color: rgb(78, 119, 231);
  }

  .footer-para {
    font-size: 1em;
    margin-top: 0.6em;
    margin-left: 6%;
  }

  .copyright {
    margin-top: 1em;
    margin-right: 6%;
  }

  footer {
    padding: 0.3em;
    height: 3.5em;
  }
}
